# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# 视频文件
video/
*.mp4

# 模型文件
*.pt
openpose/

# IDE
.vscode/
.idea/ 

# 日志文件
logs/
